<mat-tab-group>
    <mat-tab label="First">
        <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>